    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Poppins", sans-serif; */
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    html {
        width: 100%;
        height: 100%;
    }

    body {
        background-color: #24252A;
        /* width: 100%;
        height: 100%; */
        /* font-family: 'Montserrat', sans-serif; */
        /* color: #fff; */

        min-height: 200vh;
    }

    /* ---------------- Navigation ---------------- */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* font-family: 'Montserrat', sans-serif; */
        /* background-color: #32343b; */

        /* justify-content: space-around; */
        /* justify-content: flex-end; */

        transition: 0.6s;
        padding: 40px 100px;

        z-index: 100000;
    }



    .logo {
        font-weight: bold;
        font-size: 16px;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;

        margin-right: auto;
        position: relative;
        transition: 0.6s;
    }

    a.logo:hover {
        color: rgb(203, 196, 196);
        /* color: red; */
    }

    nav .nav-links {
        position: relative;
        display: flex;
        justify-content: space-around;
        /* justify-content: center; */
        align-items: center;
        list-style: none;
        width: 25%;
    }

    /* ? */
    /* nav .nav-links,
    li {
        position: relative;
        list-style: none;
    } */

    /* ? */
    /* nav .nav-links,
    li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        transition: 0.6s;
    } */

    nav .nav-links a {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        padding: 0px 16px;

        transition: all 0.3s ease 0s;
    }

    .nav-links a:hover {
        color: rgb(203, 196, 196);
    }

    #contact {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: 500;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        padding: 8px 16px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        text-decoration: none;

        position: relative;
    }

    #contact:hover {
        color: rgb(225, 225, 225);
        background-color: rgba(6, 82, 101, 0.8);
    }

    .banner {
        /* top: 100px; */
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../img/beach.jpg);
        background-size: cover;
        z-index: -1;
    }

    .sticky ul li a,
    .sticky .logo {
        color: black;
    }

    nav.sticky {
        height: 0;
        /* padding: 0px, 0px; */
        /* padding: 0; */
        padding: 25px 100px;
        background: #fff;
        /* background: #24252A; */
    }

    .banner-letter {
        font-size: large;
        font-weight: 300;
        top: 300px;
        position: relative;
        text-align: center;
        /* vertical-align: middle; */
    }

    .intro {
        color: white;
    }

    bio {
        color: white;
    }

    contact {
        color: white;
    }